grant {
   permission java.net.SocketPermission "*:1024-65535", "connect, accept, listen, resolve";
   permission java.net.SocketPermission "*:80", "connect, accept, listen, resolve";
   permission java.util.PropertyPermission "*", "read, write";
   permission java.io.FilePermission "*", "read, write";
   permission java.lang.RuntimePermission "*";
};
